*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 
 @media (max-width: 500px){

 body{
    background-color: #010020;
 }

.contendormovil{
    display: flex;
    flex-direction: column;
}

 .botongrandesonido{
    max-width: 800px;
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 180px;
   
 }


 .boton-grandemvl {
    display: block;
    width: 220px;
    height:220px;
    border-radius: 100%;
    background: rgba(96, 96, 96, 1);
    cursor: pointer;
    border: 0;
    color: white;
   
}








 .ver_preciomovil{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: 25px;
    color: white;
  
 }
  
 .pricingmovil{
    background-color: #00F47F;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px;
    color: white;
    border: none;
    cursor: pointer;
 }
}