*{
    margin: 0;
    padding: 0;
    background-color:#010020 ;
}

header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;



}
span{
    color:#00F47F;
  
}


nav a{
    text-decoration: none;
    color: white;
    margin-right: 100px;
    
  
}



.logo{
    padding: 50px;
    margin-left: 80px;
    display: flex;
    
}

logo.img{
    height: 30px;
}
