*{
    margin: 0;
    padding: 0;
    background-color:#010020 ;
    font-size: 16px;
}

header{
    list-style: none;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

span{
    color:#00F47F;
}

.logo{
    display: flex;
    padding: 50px;
    margin-left: 80px;
    
}

.logo.img{
    height: 30px;
    
}

nav {
    display: block;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    margin-right: 50px;  
   padding: 1px;
}



.bateria{
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.bateria-texto{
    color: white;
}

.hit-boton{
    background-color: #00F47F;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 210px;
    margin-top: 10px;
}

.bateria-texto h1{
    font-weight: 500;
    font-size: 5rem;
    margin-left: 120px;
    margin-right: 100px;
}

.bateria-texto h4{
    font-weight: 50;
    font-size: 1.2rem;
    margin-left: 120px;
}

.fotobateria{
    filter: drop-shadow( 3em 20px 20px rgba(255, 255, 255));
 
}


.footer{
    color: white;
    display: block;
    flex-direction: unset;
    text-align: center;
    margin-top:2em
}

.footer h2{
    font-size: 2rem;
    margin-bottom: 15px;
    display: block;
    flex-direction: unset;
    text-align: center;
}

.footer h4{

    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    flex-direction: unset;
    text-align: center;
}
.pricing{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    flex-direction: unset;
    align-items: unset;
    margin:0 auto;
}
